Repository ericamundson/zions-service-framework: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-drop-release-dev.yml, pipelines/pipeline-release.yml, pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

pipelines/pipeline-drop-release-dev.yml:
  stages:
  - stage: Release
    jobs:
    - job: Release_UTMSDEV0566
      pool:
        name: On-Prem Production
        demands:
        - agent.computername -equals UTMSDEV0566
      steps:
      - task: DownloadBuildArtifacts@0
        displayName: Download Build Artifacts
        inputs:
          buildType: specific
  ...

pipelines/pipeline-release.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: Default
        demands:
        - agent.name -equals bagent
      steps:
      - task: qetza.replacetokens.replacetokens-task.replacetokens@3
        displayName: Replace tokens in **/*.properties
        inputs:
  ...

pipelines/policy-service-release.yaml:
  name: $(date:yyyyMMdd)$(rev:.rrr)
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: ${{ parameters.pool_name }}
        demands:
        - agent.computername -equals UTMVPI0144
      workspace:
        clean: resources
      steps:
  ...

pipelines/support-jars-release.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: On-Prem Production
        demands:
        - agent.computername -equals UTMVPI0144
      steps:
      - task: Zions.zions-vsts-build.tag-build-task.TagBuild@3
        displayName: Tag Pending
        inputs:
          OutputVariable: buildTag
  ...

#1915828 - oops, missed other references
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/WorkManagementService.groovy
Due: pipelines/support-jars-release.yml

#1886018 created launch that will prepare test data
  Run CLI Prepare TestData.launch
Due: none

nexus placement of xlr extension
  pipelines/support-jars-release.yml
Due: none

#1886018 launch to convert java/groovy to json
  Run CLI groovyToJson.launch
Due: none

Fix project query
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageDRConfigTrait.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/admin/project/ProjectManagementService.groovy
Due: pipelines/support-jars-release.yml

crud
  pipelines/support-jars-release.yml
Due: none

#1886018 added test data and set closed dates launches
  Run CLI Set Closed Dates.launch
Due: none

#1886018 updated set Closed Date launch
  Run CLI Set Closed Dates.launch
Due: none

Updates to code management service for tagging pull request commit.
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
Due: pipelines/support-jars-release.yml

#1886018 update service hook passwords launch
  Run CLI updateServiceHookPassword.launch
Due: none

#1886018 updated subscription service with replace subscription method
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/servicehooks/SubscriptionService.groovy
Due: pipelines/support-jars-release.yml

Added CountPipelines action
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/servicehooks/SubscriptionService.groovy
Due: pipelines/support-jars-release.yml

Deleted zions-vsts-mapfield-microservice
  zions-vsts-mapfield-microservice/src/main/groovy/com/zions/vsts/services/mapfield/MapFieldMicroService.groovy
Due: none

#1933635 - fix bug in getColumn method of ExcelManagementService
  zions-common/src/main/groovy/com/zions/common/services/excel/ExcelManagementService.groovy
Due: pipelines/support-jars-release.yml

Added getSubscriptionById #1930061
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/servicehooks/SubscriptionService.groovy
Due: pipelines/support-jars-release.yml

Changes to branch policy reports #1940800
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

limit unseal retries
  zions-common/src/main/groovy/com/zions/common/services/vault/VaultService.groovy
Due: pipelines/support-jars-release.yml

log issues
  zions-common/src/main/groovy/com/zions/common/services/vault/VaultRestClient.groovy
Due: pipelines/support-jars-release.yml

OK
  zions-common/src/main/groovy/com/zions/common/services/vault/VaultService.groovy
  zions-common/src/main/groovy/com/zions/common/services/vault/VaultUnsealConfig.groovy
Due: pipelines/support-jars-release.yml

Changes for policy reports #1950699
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Fix vault stuff.
  zions-common/src/main/groovy/com/zions/common/services/vault/VaultRestClient.groovy
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageK8sConfigTrait.groovy
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageSenderREFanoutTrait.groovy
Due: pipelines/support-jars-release.yml

Fix stuff
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
  zions-xlr-event-publisher-extension/src/main/groovy/com/zions/xlr/services/publish/AppConfig.groovy
  zions-xlr-event-publisher-extension/src/main/resources/application-dev.properties
  zions-xlr-event-publisher-extension/src/main/resources/application-dr.properties
  zions-xlr-event-publisher-extension/src/main/resources/application-test.properties
  zions-xlr-event-publisher-extension/src/main/resources/application.properties
Due: pipelines/support-jars-release.yml

OK
  .classpath
  .gitignore
  Run CLI uobDeployableCheck.launch
  build xlr event publisher extension.launch
  build zions-queue-pubsub-microservice.launch
  build zions-xlrtoado-event-microservice.launch
  zions-blueprint-microservice.launch
  zions-common-data/.settings/org.eclipse.buildship.core.prefs
  zions-common/.settings/org.eclipse.buildship.core.prefs
  zions-queue-pubsub-microservice/.gitignore
  zions-queue-pubsub-microservice/.settings/org.eclipse.buildship.core.prefs
  zions-queue-pubsub-microservice/.settings/org.eclipse.jdt.groovy.core.prefs
  zions-queue-pubsub-microservice/build.gradle
  zions-queue-pubsub-microservice/cmd/createcontainer.bat
  zions-queue-pubsub-microservice/cmd/deletecontainer.bat
  zions-queue-pubsub-microservice/eventservice.log
  zions-queue-pubsub-microservice/service/vstswebsocketms.exe
  zions-queue-pubsub-microservice/service/vstswebsocketms.xml
  zions-queue-pubsub-microservice/src/groovydoc/org/codehaus/groovy/tools/groovydoc/gstringTemplates/classLevel/classDocName.html
  zions-queue-pubsub-microservice/src/main/groovy/com/zions/vsts/pubsub/AppConfig.groovy
  zions-queue-pubsub-microservice/src/main/groovy/com/zions/vsts/pubsub/EventController.groovy
  zions-queue-pubsub-microservice/src/main/groovy/com/zions/vsts/pubsub/PubSubServerApplication.groovy
  zions-queue-pubsub-microservice/src/main/resources/application.properties
  zions-queue-pubsub-microservice/src/main/resources/keystore/zionsws.jks
  zions-queue-pubsub-microservice/src/main/resources/keystore/zionsws.p12
  zions-queue-pubsub-microservice/src/test/groovy/com/zions/vsts/ws/WebSocketServerApplicationSpec.groovy
  zions-queue-pubsub-microservice/src/test/resources/test.properties
  zions-queue-pubsub-microservice/src/test/resources/testdata/webrequest.json
  zions-vsts-microservice/.settings/org.eclipse.buildship.core.prefs
  zions-vsts-services/.settings/org.eclipse.buildship.core.prefs
  zions-xlr-event-publisher-extension/src/main/groovy/com/zions/xlr/services/publish/XlrEventPublisher.groovy
Due: pipelines/support-jars-release.yml

Dont want to fix right now
  zions-vsts-services/src/test/groovy/com/zions/vsts/services/code/CodeManagementServiceSpecTest.groovy
Due: pipelines/support-jars-release.yml

Adding pipline changes
  cx.config
Due: none

#1734067 added code to batch getWorkListedWorkItems if over 200
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/WorkManagementService.groovy
Due: pipelines/support-jars-release.yml

#1734067 updated code to batch over 200 child work items
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/WorkManagementService.groovy
Due: pipelines/support-jars-release.yml

Add policy delete
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

#1734067 updated code to avoid 404 errors if no
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/WorkManagementService.groovy
Due: pipelines/support-jars-release.yml

#1734067 updated code to fix 404 error if no children
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/WorkManagementService.groovy
Due: pipelines/support-jars-release.yml

#1734067 added no children code to getChildren method
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/WorkManagementService.groovy
Due: pipelines/support-jars-release.yml

#1734067 updates
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/WorkManagementService.groovy
Due: pipelines/support-jars-release.yml

#1734067 restored getListedWorkItems from history
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/WorkManagementService.groovy
Due: pipelines/support-jars-release.yml

Add necessary code to reverse and analyze XLR templates #1958044
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
Due: pipelines/support-jars-release.yml

Updated WorkManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/WorkManagementService.groovy
Due: pipelines/support-jars-release.yml

#1993525 - add transaction date to parked queue
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageReceiverTrait.groovy
Due: pipelines/support-jars-release.yml

Adding pipeline changes pipelineId: DTS_607172
  cx.config
Due: none

Move policy to standalone project
  settings.gradle
  zions-common-data/.settings/org.eclipse.buildship.core.prefs
  zions-common/.settings/org.eclipse.buildship.core.prefs
  zions-vsts-microservice/.settings/org.eclipse.buildship.core.prefs
  zions-vsts-policy-microservice/.gitignore
  zions-vsts-policy-microservice/.settings/org.eclipse.buildship.core.prefs
  zions-vsts-policy-microservice/.settings/org.eclipse.core.resources.prefs
  zions-vsts-policy-microservice/.settings/org.eclipse.jdt.groovy.core.prefs
  zions-vsts-policy-microservice/build.gradle
  zions-vsts-policy-microservice/gradle.properties
  zions-vsts-policy-microservice/src/main/groovy/com/zions/vsts/services/policy/AppConfig.groovy
  zions-vsts-policy-microservice/src/main/groovy/com/zions/vsts/services/policy/PolicyApplication.groovy
  zions-vsts-policy-microservice/src/main/groovy/com/zions/vsts/services/policy/SecurityConfig.groovy
  zions-vsts-policy-microservice/src/main/groovy/com/zions/vsts/services/policy/rest/PolicyEndPoint.groovy
  zions-vsts-policy-microservice/src/main/resources/application.yml
  zions-vsts-services/.settings/org.eclipse.buildship.core.prefs
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

#1998230 Updated NotificationService.groovy
  zions-common/src/main/groovy/com/zions/common/services/notification/NotificationService.groovy
Due: pipelines/support-jars-release.yml

Path conditions:
  pipelines/pipeline-drop-release-dev.yml: any of: none
  pipelines/pipeline-release.yml: any of: zions-pipeline-cli, zions-pipeline-services, zions-xlr-services, zions-xld-services
  pipelines/policy-service-release.yaml: any of: zions-vsts-policy-microservice, zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy
  pipelines/support-jars-release.yml: any of: zions-common, zions-common-data, zions-vsts-services, zions-vsts-microservice
