Repository ericamundson/zions-service-framework: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-drop-release-dev.yml, pipelines/pipeline-release-dev.yml, pipelines/pipeline-release.yml, pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Path conditions:
  pipelines/pipeline-drop-release-dev.yml: any of: none
  pipelines/pipeline-release-dev.yml: any of: zions-pipeline-cli, zions-pipeline-services, zions-xlr-services, zions-xld-services
  pipelines/pipeline-release.yml: any of: none
  pipelines/policy-service-release.yaml: any of: zions-vsts-policy-microservice, zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy
  pipelines/support-jars-release.yml: any of: zions-common/src, zions-common-data/src, zions-vsts-services/src, zions-vsts-microservice/src

Update ci-pipeline.yaml for Azure Pipelines
  .pipeline/ado/ci-pipeline.yaml
Due: none

Updated build.gradle
  build.gradle
Due: none

Set executable
  gradlew
Due: none

#2898118
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Skip creation of Merge Strategy policy on new branch #2900461
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

vuln updates
  .settings/org.eclipse.buildship.core.prefs
  PolicyApplication.launch
  Run CLI TIB-Mobile deployableCheck.launch
  Run CLI deployableCheck.launch
  Run CLI microserviceAdmin.launch
  Run CLI uobDeployableCheck.launch
  build zions-re-blueprint-request-microservice.launch
  build zions-re-checkmarxui-microservice.launch
  build zions-re-health-monitoring-microservice.launch
  build zions-re-pipelinecli-microservice.launch
  build zions-re-reportsui-microservice.launch
  build zions-re-selfservice-microservice.launch
  build zions-re-ui-microservice.launch
  build zions-re-zuul-microservice.launch
  build zions-service-framework.launch
  build.gradle
  gradle.properties
  settings.gradle
  zions-common/.settings/org.eclipse.buildship.core.prefs
  zions-common/src/test/groovy/com/zions/common/services/test/DataGenerationServiceSpec.groovy
  zions-vsts-microservices/.gitignore
  zions-vsts-microservices/.settings/org.eclipse.buildship.core.prefs
  zions-vsts-microservices/.settings/org.eclipse.jdt.groovy.core.prefs
  zions-vsts-services/.settings/org.eclipse.buildship.core.prefs
  zions-vsts-services/src/main/groovy/com/zions/mr/services/rest/MrGenericRestClient.groovy
Due: pipelines/support-jars-release.yml

pipeline
  .pipeline/ado/ci-pipeline.yaml
  .pipeline/ado/release-pipeline.yaml
Due: none

update
  .pipeline/ado/release-pipeline.yaml
Due: none

fix settings
  settings.gradle
Due: none
