Repository ericamundson/zions-service-framework: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-drop-release-dev.yml, pipelines/pipeline-release-dev.yml, pipelines/pipeline-release.yml, pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Path conditions:
  pipelines/pipeline-drop-release-dev.yml: any of: none
  pipelines/pipeline-release-dev.yml: any of: zions-pipeline-cli, zions-pipeline-services, zions-xlr-services, zions-xld-services
  pipelines/pipeline-release.yml: any of: none
  pipelines/policy-service-release.yaml: any of: zions-vsts-policy-microservice, zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy
  pipelines/support-jars-release.yml: any of: zions-common/src, zions-common-data/src, zions-vsts-services/src, zions-vsts-microservice/src

What a deal
  zions-common/src/main/groovy/com/zions/common/services/vault/VaultRestClient.groovy
Due: pipelines/support-jars-release.yml

Ding dang dung
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/health/VaultDetailsIndicator.groovy
Due: pipelines/support-jars-release.yml

Changes for self-service branch policy solution #2616305
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Clean up debugging statements #2616305
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

More cleanup #2616305
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Opps
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

Update to controlling log output
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

setup for mock testing of rabbitmq consumer.
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageFanoutConfigTrait.groovy
Due: pipelines/support-jars-release.yml

Changes to ensureAutomaticallyIncludedReviewersBranchPolicy #2647694
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Clean up debug statements #2647694
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Clean up debug comments #2647694
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Fix issue in ensureAutomaticallyIncludedReviewersBranchPolicy #2647694
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Too much output on legitimate request.
  zions-common/src/main/groovy/com/zions/common/services/rest/AGenericRestClient.groovy
Due: pipelines/support-jars-release.yml

Needed this class.
  zions-common/src/main/groovy/com/zions/common/services/rest/AGenericRestClient.groovy
Due: pipelines/support-jars-release.yml

Fix test
  zions-vsts-services/src/test/groovy/com/zions/vsts/services/tfs/rest/GenericRestClientSpecTest.groovy
Due: pipelines/support-jars-release.yml

Clean the code for response status 200 and 201
  zions-common/src/main/groovy/com/zions/common/services/rest/AGenericRestClient.groovy
Due: pipelines/support-jars-release.yml

Adding the header back
  zions-common/src/main/groovy/com/zions/common/services/rest/AGenericRestClient.groovy
Due: pipelines/support-jars-release.yml

Adding ADO implementation for environment setup. Including configuration of approvers, pipeline autorization, project access to edit.
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/admin/member/MemberManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/environment/CheckConfigurationManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/environment/EnvironmentManagementService.groovy
  zions-vsts-services/src/test/groovy/com/zions/vsts/services/environment/CheckConfigurationManagementServiceSpec.groovy
  zions-vsts-services/src/test/groovy/com/zions/vsts/services/environment/EnvironmentManagementServiceSpec.groovy
  zions-vsts-services/src/test/resources/test.properties
Due: pipelines/support-jars-release.yml

Needed for cli changes
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/servicehooks/SubscriptionService.groovy
Due: pipelines/support-jars-release.yml

Needs build with boot jar
  build.gradle
Due: none

Updates for unit tests to run on agent box
  build.gradle
  zions-issue-notification-microservice/src/main/resources/application.properties
  zions-vsts-services/src/test/groovy/com/zions/vsts/services/environment/CheckConfigurationManagementServiceSpec.groovy
  zions-vsts-services/src/test/groovy/com/zions/vsts/services/environment/EnvironmentManagementServiceSpec.groovy
  zions-vsts-services/src/test/resources/application-k8stest.properties
Due: pipelines/support-jars-release.yml

Add debug property
  gradle.properties
Due: none

need auto ack for sbom gen
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageFanoutConfigTrait.groovy
Due: pipelines/support-jars-release.yml

Updates for chart environment automation
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/environment/CheckConfigurationManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/environment/EnvironmentManagementService.groovy
Due: pipelines/support-jars-release.yml

Add direct message listner trait
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageFanoutConfigTrait.groovy
Due: pipelines/support-jars-release.yml

return type needs to change
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageFanoutConfigTrait.groovy
Due: pipelines/support-jars-release.yml

Use parent impl on container
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageFanoutConfigTrait.groovy
Due: pipelines/support-jars-release.yml

Update ack timeout
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageFanoutConfigTrait.groovy
Due: pipelines/support-jars-release.yml

Updates for health check.
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/admin/member/MemberManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

Needs an update
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

Testing the OS Patch for Nov
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/admin/member/MemberManagementService.groovy
Due: pipelines/support-jars-release.yml

Changes to policy management for handling new custom policy actions #2677217
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyType.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Fixed displayName for new ci build and removed debug comments #2677217
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Updated for permissions automation.
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/PipelinePermissionsService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/distributedtask/TaskManagementService.groovy
Due: pipelines/support-jars-release.yml

Changes to ensureBuildPolicy to support pipeline-execution-microservice #2459986
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Added No CI PR Blocker policy to default policies for master #2731262
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

SoD checks
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

Fix
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

Query for workitems related to a set of commits
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml
