Repository ericamundson/zions-service-framework: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-drop-release-dev.yml, pipelines/pipeline-release.yml, pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

pipelines/pipeline-drop-release-dev.yml:
  stages:
  - stage: Release
    jobs:
    - job: Release_UTMSDEV0566
      pool:
        name: On-Prem Production
        demands:
        - agent.computername -equals UTMSDEV0566
      steps:
      - task: DownloadBuildArtifacts@0
        displayName: Download Build Artifacts
        inputs:
          buildType: specific
  ...

pipelines/pipeline-release.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: Default
        demands:
        - agent.name -equals bagent
      steps:
      - task: qetza.replacetokens.replacetokens-task.replacetokens@3
        displayName: Replace tokens in **/*.properties
        inputs:
  ...

pipelines/policy-service-release.yaml:
  name: $(date:yyyyMMdd)$(rev:.rrr)
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: ${{ parameters.pool_name }}
        demands:
        - agent.computername -equals UTMVPI0144
      workspace:
        clean: resources
      steps:
  ...

pipelines/support-jars-release.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: On-Prem Production
        demands:
        - agent.computername -equals UTMVPI0144
      steps:
      - task: Zions.zions-vsts-build.tag-build-task.TagBuild@3
        displayName: Tag Pending
        inputs:
          OutputVariable: buildTag
  ...

Ensure ADO environment #1996322
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/distributedtask/TaskManagementService.groovy
Due: pipelines/support-jars-release.yml

#1933646 - enable html content in notification email
  zions-common/src/main/groovy/com/zions/common/services/notification/NotificationService.groovy
Due: pipelines/support-jars-release.yml

#1830486 commits
  Run CLI getTestRunDetails.launch
Due: none

Add support for automaticallyincludedreviewers James also provided some updates to the code.
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

A few fixes
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Final cleanup before delivery
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

#1830486 add new method to set test retention settings to permanent
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/test/TestManagementService.groovy
Due: pipelines/support-jars-release.yml

#1830486 new method to set test retention settings
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/test/TestManagementService.groovy
Due: pipelines/support-jars-release.yml

#1830486 get test retention settings
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/test/TestManagementService.groovy
Due: pipelines/support-jars-release.yml

#1973270 - enhance ProcessTemplateService and ProjectManagementService to support wit-sync
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/admin/project/ProjectManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/tfs/rest/CliFailureHandler.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/templates/ProcessTemplateService.groovy
Due: pipelines/support-jars-release.yml

#1830486 updated servicehook subscription and test data launches
  Run CLI Add Test Link.launch
  Run CLI Copy Test Runs By Test Plan.launch
  Run CLI Create Run Data.launch
  Run CLI Create Test Result Data.launch
  Run CLI Remove TestedBy Links.launch
  Run CLI updateServiceHookPassword.launch
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/servicehooks/SubscriptionService.groovy
Due: pipelines/support-jars-release.yml

#1973270 - cleanup and final changes to support synch tool
  zions-vsts-services/ProcessTemplateServiceSpecTest.launch
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/templates/ProcessTemplateService.groovy
  zions-vsts-services/src/test/groovy/com/zions/vsts/services/work/templates/ProcessTemplateServiceSpecTest.groovy
Due: pipelines/support-jars-release.yml

#1973270 - fixed test
  zions-vsts-services/ProjectManagementServiceSpecTest.launch
  zions-vsts-services/src/test/groovy/com/zions/vsts/services/admin/project/ProjectManagementServiceSpecTest.groovy
Due: pipelines/support-jars-release.yml

#1830486 update sa passwords using webdriver
  Update ServiceAccount Passwords.launch
  zions-web-automation/src/main/groovy/com/zions/auto/pages/SetPasswordPage.groovy
  zions-web-automation/src/main/groovy/com/zions/sa/passwords/UpdatePasswords.groovy
  zions-web-automation/src/main/groovy/com/zions/webbot/cli/SetPasswordAppConfig.groovy
Due: none

Opps
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageK8sConfigTrait.groovy
Due: pipelines/support-jars-release.yml

#1830486 minor updates
  zions-web-automation/src/main/groovy/com/zions/auto/pages/SetPasswordPage.groovy
  zions-web-automation/src/main/groovy/com/zions/sa/passwords/UpdatePasswords.groovy
  zions-web-automation/src/main/groovy/com/zions/webbot/cli/SetPasswordAppConfig.groovy
  zions-web-automation/src/main/resources/pwapplication.properties
Due: none

Updates for k8s cs
  zions-xlr-event-publisher-extension/src/main/groovy/com/zions/xlr/services/publish/XlrEventPublisher.groovy
  zions-xlr-event-publisher-extension/src/main/resources/application-k8sprod.properties
Due: none

#1830486 change service account pw code
  zions-web-automation/src/main/groovy/com/zions/auto/pages/SetPasswordPage.groovy
  zions-web-automation/src/main/groovy/com/zions/sa/passwords/UpdatePasswords.groovy
  zions-web-automation/src/main/resources/pwapplication.properties
Due: none

#1830486 made updates
  Update ServiceAccount Passwords.launch
  zions-web-automation/src/main/groovy/com/zions/sa/passwords/UpdatePasswords.groovy
  zions-web-automation/src/main/groovy/com/zions/webbot/cli/SetPasswordAppConfig.groovy
  zions-web-automation/src/main/resources/pwapplication.properties
Due: none

#2047987 - Enhance ProcessTemplateServices for more complete synching
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/templates/ProcessTemplateService.groovy
Due: pipelines/support-jars-release.yml

#2047987 - fix failing test
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/templates/ProcessTemplateService.groovy
Due: pipelines/support-jars-release.yml

#2025305 - Update services to support synching data across orgs
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/extdata/ExtensionDataManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/groups/GroupManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/security/SecurityManagementService.groovy
Due: pipelines/support-jars-release.yml

2059452 - add missing control label
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/templates/ProcessTemplateService.groovy
Due: pipelines/support-jars-release.yml

2039539 - Confluence and SharePoint services to support doc migration
  .classpath
  settings.gradle
  zions-common-data/.settings/org.eclipse.buildship.core.prefs
  zions-common/.settings/org.eclipse.buildship.core.prefs
  zions-confluence-services/.gitignore
  zions-confluence-services/build.gradle
  zions-confluence-services/gradle/wrapper/gradle-wrapper.jar
  zions-confluence-services/gradle/wrapper/gradle-wrapper.properties
  zions-confluence-services/src/main/groovy/com/zions/confluence/services/page/ConfluenceFileManagementService.groovy
  zions-confluence-services/src/main/groovy/com/zions/confluence/services/page/ConfluencePageManagementService.groovy
  zions-confluence-services/src/main/groovy/com/zions/confluence/services/rest/ConfluenceRestClient.groovy
  zions-confluence-services/src/main/groovy/com/zions/confluence/services/rest/DefaultFailureHandler.groovy
  zions-confluence-services/src/main/groovy/com/zions/confluence/services/rest/IFailureHandler.groovy
  zions-confluence-services/src/main/resources/.gitattributes
  zions-sharepoint-services/.gitignore
  zions-sharepoint-services/build.gradle
  zions-sharepoint-services/gradle/wrapper/gradle-wrapper.jar
  zions-sharepoint-services/gradle/wrapper/gradle-wrapper.properties
  zions-sharepoint-services/src/main/groovy/com/zions/sharepoint/services/file/SharePointFileManagementService.groovy
  zions-sharepoint-services/src/main/groovy/com/zions/sharepoint/services/page/SharePointPageManagementService.groovy
  zions-sharepoint-services/src/main/groovy/com/zions/sharepoint/services/rest/DefaultFailureHandler.groovy
  zions-sharepoint-services/src/main/groovy/com/zions/sharepoint/services/rest/IFailureHandler.groovy
  zions-sharepoint-services/src/main/groovy/com/zions/sharepoint/services/rest/SharePointRestClient.groovy
  zions-sharepoint-services/src/main/resources/.gitattributes
  zions-vsts-microservice/.settings/org.eclipse.buildship.core.prefs
  zions-vsts-services/.settings/org.eclipse.buildship.core.prefs
  zions-vsts-services/ProcessTemplateServiceSpecTest.launch
  zions-vsts-services/ProjectManagementServiceSpecTest.launch
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/tfs/rest/GenericRestClient.groovy
Due: pipelines/support-jars-release.yml

updates
  Run CLI uobDeployableCheck.launch
  build zions-queue-pubsub-microservice.launch
  build zions-xlrtoado-event-microservice.launch
Due: none

#2039539 - Updated SharePoint services and Extension Data service
  zions-sharepoint-services/src/main/groovy/com/zions/sharepoint/services/file/SharePointFileManagementService.groovy
  zions-sharepoint-services/src/main/groovy/com/zions/sharepoint/services/page/QuickLaunchManagementService.groovy
  zions-sharepoint-services/src/main/groovy/com/zions/sharepoint/services/page/SharePointPageManagementService.groovy
  zions-sharepoint-services/src/main/groovy/com/zions/sharepoint/services/rest/SharePointRestClient.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/extdata/ExtensionDataManagementService.groovy
Due: pipelines/support-jars-release.yml

#2039539 - reverse classpath change
  .classpath
Due: none

Fix creation of minimum reviewers policy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

#1923512 - Added Heartbeat Logging base config class.
  zions-common/src/main/groovy/com/zions/common/services/logging/HeartbeatLoggingConfig.groovy
Due: pipelines/support-jars-release.yml

#1923512 - add base class for microservice heartbeat logging
  zions-common/src/main/groovy/com/zions/common/services/logging/HeartbeatLoggingConfig.groovy
Due: pipelines/support-jars-release.yml

#1830486 updated the test launch
  Run CLI Add Test Link.launch
Due: none

#1830486 added 409 code to retry logic
  zions-common/src/main/groovy/com/zions/common/services/rest/AGenericRestClient.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/tfs/rest/MicroserviceFailureHandler.groovy
Due: pipelines/support-jars-release.yml

Add getEndpointByType to EndpointManagementService #2094460
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/endpoint/EndpointManagementService.groovy
Due: pipelines/support-jars-release.yml

Centeralize logging
  zions-common/src/main/groovy/com/zions/common/services/logging/MongoAppender.groovy
Due: pipelines/support-jars-release.yml

Moved so tests didn't get messed up.
  zions-common/src/main/groovy/com/zions/common/services/slf4j/MongoAppender.groovy
Due: pipelines/support-jars-release.yml

#2093668 - add services to support archiving of metadata to git
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/work/templates/ProcessTemplateService.groovy
Due: pipelines/support-jars-release.yml

#2093668 - new service to support field report archive
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/fields/FieldMetadataExtractionService.groovy
Due: pipelines/support-jars-release.yml

Killing MS builds. We don't need this in everything.
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/fields/FieldMetadataExtractionService.groovy
Due: pipelines/support-jars-release.yml

Make log entity public
  zions-common/src/main/groovy/com/zions/common/services/slf4j/LogEntity.groovy
  zions-common/src/main/groovy/com/zions/common/services/slf4j/MongoAppender.groovy
Due: pipelines/support-jars-release.yml

Path conditions:
  pipelines/pipeline-drop-release-dev.yml: any of: none
  pipelines/pipeline-release.yml: any of: zions-pipeline-cli, zions-pipeline-services, zions-xlr-services, zions-xld-services
  pipelines/policy-service-release.yaml: any of: zions-vsts-policy-microservice, zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy
  pipelines/support-jars-release.yml: any of: zions-common, zions-common-data, zions-vsts-services, zions-vsts-microservice
