Repository ericamundson/zions-service-framework: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-drop-release-dev.yml, pipelines/pipeline-release-dev.yml, pipelines/pipeline-release.yml, pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

pipelines/pipeline-drop-release-dev.yml:
  stages:
  - stage: Release
    jobs:
    - job: Release_UTMSDEV0566
      pool:
        name: On-Prem Production
        demands:
        - agent.computername -equals UTMSDEV0566
      steps:
      - task: DownloadBuildArtifacts@0
        displayName: Download Build Artifacts
        inputs:
          buildType: specific
  ...

pipelines/pipeline-release-dev.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: On-Prem Production
        demands:
        - agent.os -equals Linux
      steps:
      - task: qetza.replacetokens.replacetokens-task.replacetokens@3
        displayName: Replace tokens in **/*.properties
        inputs:
  ...

pipelines/pipeline-release.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: On-Prem Production
        demands:
        - agent.os -equals Linux
      steps:
      - task: Zions.zions-vsts-build.tag-build-task.TagBuild@3
        displayName: Tag Pending
        inputs:
          OutputVariable: buildTag
  ...

pipelines/policy-service-release.yaml:
  name: $(date:yyyyMMdd)$(rev:.rrr)
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: ${{ parameters.pool_name }}
        demands:
        - agent.computername -equals UTMVPI0144
      workspace:
        clean: resources
      steps:
  ...

pipelines/support-jars-release.yml:
  name: $(date:yyyyMMdd)$(rev:.rrr)
  stages:
  - stage: Build
    jobs:
    - job: build
      pool:
        name: ${{ parameters.pool_name }}
        demands:
        - agent.computername -equals UTMVPI0144
      workspace:
        clean: resources
      steps:
  ...

Opps on using $tops
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

Changes to fix SNow CI custom status policy #2755146
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Dang it
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
Due: pipelines/support-jars-release.yml

Add/Update ADO pipeline impl from pipeline Chart.
  .pipeline/ado/ci-pipeline.yaml
  .pipeline/ado/release-pipeline.yaml
Due: none

Add/Update ADO pipeline impl from pipeline Chart.
  .pipeline/ado/release-pipeline.yaml
Due: none

Fix bug in AIR policy add code
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Update to find if bdef has builds
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

Add method to get build yaml file content #2781923
  .project
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

change to laptop
  build zions-checkmarx-services.launch
  build zions-ire-test-microservice.launch
  build zions-issue-notification-microservice.launch
  build zions-queue-pubsub-microservice.launch
  build zions-re-ado-request-microservice debug AdoRequestControllerSpec.launch
  build zions-re-blueprint-request-microservice.launch
  build zions-re-checkmarx-request-microservice.launch
  build zions-re-checkmarxui-microservice.launch
  build zions-re-health-monitoring-microservice.launch
  build zions-re-pipelinecli-microservice.launch
  build zions-re-reportsui-microservice.launch
  build zions-re-selfservice-microservice.launch
  build zions-re-ui-microservice.launch
  zions-common/src/main/groovy/com/zions/common/services/notification/NotificationService.groovy
  zions-common/src/main/groovy/com/zions/common/services/slf4j/ErrorEvent.groovy
  zions-common/src/main/groovy/com/zions/common/services/slf4j/LogPubSubGenericRestClient.groovy
  zions-common/src/main/groovy/com/zions/common/services/slf4j/MongoAppender.groovy
  zions-common/src/test/groovy/com/zions/common/services/user/UserManagementServiceSpec.groovy
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/rmq/mixins/MessageReceiverTrait.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/admin/member/MemberManagementService.groovy
Due: pipelines/support-jars-release.yml

Ensure use of branch
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
Due: pipelines/support-jars-release.yml

Updates for attachments
  zions-common/src/main/groovy/com/zions/common/services/notification/NotificationService.groovy
Due: pipelines/support-jars-release.yml

Changed ADO API used for getPullRequest to not need repo #2866584
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
Due: pipelines/support-jars-release.yml

Separation of Duties updates
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/admin/member/MemberManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/admin/project/ProjectManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/PipelineResourceService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/environment/EnvironmentManagementService.groovy
Due: pipelines/support-jars-release.yml

Opps
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/environment/EnvironmentManagementService.groovy
Due: pipelines/support-jars-release.yml

Sod
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/admin/member/MemberManagementService.groovy
Due: pipelines/support-jars-release.yml

Update ci-pipeline.yaml for Azure Pipelines
  .pipeline/ado/ci-pipeline.yaml
Due: none

Path conditions:
  pipelines/pipeline-drop-release-dev.yml: any of: none
  pipelines/pipeline-release-dev.yml: any of: zions-pipeline-cli, zions-pipeline-services, zions-xlr-services, zions-xld-services
  pipelines/pipeline-release.yml: any of: none
  pipelines/policy-service-release.yaml: any of: zions-vsts-policy-microservice, zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy
  pipelines/support-jars-release.yml: any of: zions-common/src, zions-common-data/src, zions-vsts-services/src, zions-vsts-microservice/src
