Repository ericamundson/zions-service-framework: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/pipeline-drop-release-dev.yml, pipelines/pipeline-release.yml, pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

pipelines/pipeline-drop-release-dev.yml:
  stages:
  - stage: Release
    jobs:
    - job: Release_UTMSDEV0566
      pool:
        name: On-Prem Production
        demands:
        - agent.computername -equals UTMSDEV0566
      steps:
      - task: DownloadBuildArtifacts@0
        displayName: Download Build Artifacts
        inputs:
          buildType: specific
  ...

pipelines/pipeline-release.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: Default
        demands:
        - agent.name -equals bagent
      steps:
      - task: qetza.replacetokens.replacetokens-task.replacetokens@3
        displayName: Replace tokens in **/*.properties
        inputs:
  ...

pipelines/policy-service-release.yaml:
  name: $(date:yyyyMMdd)$(rev:.rrr)
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: ${{ parameters.pool_name }}
        demands:
        - agent.computername -equals UTMVPI0144
      workspace:
        clean: resources
      steps:
  ...

pipelines/support-jars-release.yml:
  name: $(date:yyyyMMdd)$(rev:.rrr)
  stages:
  - stage: Build
    jobs:
    - job: build
      pool:
        name: ${{ parameters.pool_name }}
        demands:
        - agent.computername -equals UTMVPI0144
      workspace:
        clean: resources
      steps:
  ...

kkk
  zions-common/src/main/groovy/com/zions/common/services/rest/AGenericRestClient.groovy
Due: pipelines/support-jars-release.yml

Adding pipeline changes
  cx.config
Due: none

OK
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
Due: pipelines/support-jars-release.yml

fix rest api git file create/update to provide comments. And supply [skip ci] to ensure no pipeline builds
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
Due: pipelines/support-jars-release.yml

Added multiPartPost to AGenericRestClient #2370978
  zions-common/src/main/groovy/com/zions/common/services/rest/AGenericRestClient.groovy
Due: pipelines/support-jars-release.yml

For queued microservices
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/health/VaultDetailsIndicator.groovy
Due: pipelines/support-jars-release.yml

Missed build
  zions-vsts-microservice/build.gradle
Due: none

Dang it
  zions-vsts-microservice/src/main/groovy/com/zions/vsts/services/health/VaultDetailsIndicator.groovy
Due: pipelines/support-jars-release.yml

Reduce unseal check.
  zions-common/src/main/groovy/com/zions/common/services/vault/VaultService.groovy
Due: pipelines/support-jars-release.yml

Add consumerURL to check for existing webhook subscription #2438446
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/servicehooks/SubscriptionService.groovy
Due: pipelines/support-jars-release.yml

Fix consumerURL comparison for existing webhook subscription #2438446
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/servicehooks/SubscriptionService.groovy
Due: pipelines/support-jars-release.yml

Uncomment call to ensureInitialTag in policy service 569357
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Add ensureWatchdogBranchPolicy to PolicyManagementService ##2254377
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

fix stuff
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

Set up defaultFailureHandler for GenericRestClient #2459895
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/tfs/rest/GenericRestClient.groovy
Due: pipelines/support-jars-release.yml

updates for SNOW
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

Updates to handle ADO Release pipeline usage for application.
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/release/ReleaseManagementService.groovy
Due: pipelines/support-jars-release.yml

Fix bug in initial tag creation for ifb branch #2189360
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/build/BuildManagementService.groovy
Due: pipelines/support-jars-release.yml

Convert to a generic custom status policy #2427631
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

containerized agent
  build.gradle
  gradle.properties
  pipelines/ci.yaml
  pipelines/pipeline-release.yml
Due: none

yml updates
  pipelines/pipeline-release.yml
Due: none

build correction
  pipelines/ci.yaml
  pipelines/pipeline-release.yml
Due: none

yml changed
  pipelines/ci.yaml
  pipelines/pipeline-release.yml
Due: none

more updates
  pipelines/ci.yaml
  pipelines/pipeline-release.yml
Due: none

test
  pipelines/ci.yaml
  pipelines/pipeline-release.yml
Due: none

test 2
  pipelines/ci.yaml
  pipelines/pipeline-release-dev.yml
  pipelines/pipeline-release.yml
  pipelines/policy-service-release.yaml
  pipelines/support-jars-release.yml
Due: none

no scan
  pipelines/ci.yaml
  pipelines/pipeline-release-dev.yml
  pipelines/pipeline-release.yml
  pipelines/policy-service-release.yaml
  pipelines/support-jars-release.yml
Due: none

daemon falsec
  pipelines/ci.yaml
  pipelines/pipeline-release-dev.yml
  pipelines/pipeline-release.yml
  pipelines/policy-service-release.yaml
  pipelines/support-jars-release.yml
Due: none

final yml update
  pipelines/ci.yaml
  pipelines/pipeline-release-dev.yml
  pipelines/pipeline-release.yml
  pipelines/policy-service-release.yaml
  pipelines/support-jars-release.yml
Due: none

no scan arg
  pipelines/pipeline-release-dev.yml
Due: none

gradle683
  gradle/wrapper/gradle-wrapper.properties
Due: none

Changes to branch policy methods #2559886
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/code/CodeManagementService.groovy
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy/PolicyManagementService.groovy
Due: pipelines/policy-service-release.yaml, pipelines/support-jars-release.yml

Updated ci.yaml
  pipelines/ci.yaml
Due: none

Fix email recipients for policy and build creation on new branch #2564659
  zions-common/src/main/groovy/com/zions/common/services/notification/NotificationService.groovy
Due: pipelines/support-jars-release.yml

Update to handle release executions
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/release/ReleaseManagementService.groovy
Due: pipelines/support-jars-release.yml

Issue with rDef
  zions-vsts-services/src/main/groovy/com/zions/vsts/services/release/ReleaseManagementService.groovy
Due: pipelines/support-jars-release.yml

Weirdness
  zions-common/src/main/groovy/com/zions/common/services/vault/VaultRestClient.groovy
Due: pipelines/support-jars-release.yml

Path conditions:
  pipelines/pipeline-drop-release-dev.yml: any of: none
  pipelines/pipeline-release.yml: any of: zions-pipeline-cli, zions-pipeline-services, zions-xlr-services, zions-xld-services
  pipelines/policy-service-release.yaml: any of: zions-vsts-policy-microservice, zions-vsts-services/src/main/groovy/com/zions/vsts/services/policy
  pipelines/support-jars-release.yml: any of: zions-common/src, zions-common-data/src, zions-vsts-services/src, zions-vsts-microservice/src
